@import url('https://fonts.googleapis.com/css2 ?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
h3 {
    margin: 0;
    margin: 15px 0px 10px 0px;
}
a {
    text-decoration: none;
    color: #767676;
    margin-right: 15px; 
}

.img{
    width: 300px;
    border-radius: 30px;
    float: left;
    margin: 0px 30px 0px 5px;
}

.head p {
    font-size: 17px;
    color: #767676;
    margin-bottom: 20px;
}

.body {
    background: #f0f8ff;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 30px 5px;
}
.ol ol{
    padding-left: 15px;
    float: left;
}
.ol ol li{
    color: #767676;
    padding-bottom: 8px;
}
.ol, .table {
    display: inline-block;
    padding: 10px 30px;
}


table {
    margin: 0;
}
.table tr td {
    padding: 5px 15px 5px 0px;
    color: #767676;
}

.name,.email,.textarea{
    display: inline-block;
    border-bottom:2px solid;
    color: #999999;
    margin: 10px 30px;
}
input, textarea {
    outline: none;
    border: none;
    width: 600px;
    }

.button{
    width: 150px;
    height: 60px;
    background: #333;
    color: #f0f8ff;
    border-radius: 20px;
    margin-left: 30px;
}

.mine {
    margin: 10px 150px;
}